# Dependencies
node_modules/
dist/
.astro/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Environment Files
.env
.env.*
!.env.example

# Build/Cache
.cache/
.nyc_output/
.parcel-cache/
.next/
out/
.nuxt/
.output/
.svelte-kit/
.temp/
.pnpm-store/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage
coverage/
*.lcov
